#container {
  width: 960px;
  margin: auto;
  min-height: 500px;
  background-color: #fffaf0;
}
#menu {
  height: 30px;
  color: #fff;
  text-align: right;
}
#menu ul li {
  float: left;
  margin-left: 10px;
}
#menu ul li a {
  color: #fff;
  line-height: 30px;
}
#menu ul li a:hover {
  color: #ccc;
}
#logo {
   padding: 20px;
   font-size: 20px;
}
h1 {
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 250%;
}
h1:first-letter {
  color: red;
}

p:first-letter {
  color: red;
}
#page {
  min-height: 400px;
  padding: 20px;
  overflow: hidden;
  width: 960px;
}
#page .main {
    display: block;
    position:relative;
    top: 0px;
    left: 0px;
    padding: 20px;
    margin: 0px;
    width: 100%;
    float: left;
    overflow: hidden;
}
.description {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 11pt;
    width: 800px;
}

#students-list, #lecturers-list, #lectures-list {
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2;
  -moz-column-gap:10px;
  -webkit-column-gap:10px;
  column-gap:10px;
}

