<div class="main">
	<h1> <%= student["first_name"] %> <%= student["last_name"] %></h1></br>
	<div style="font-weight: bold;"><%= student["city"] %> </div></br>
	<div><a href="<%= student["link_facebook"]%>">Facebook</a></div>
	<div><a href="<%= student["link_vk"]%>">Вконтакте</a></div>
	<div><a href="<%= student["link_gihub"]%>">Github</a></div>
	<div><a href="<%= student["link_yaru"]%>">Ya.ru</a></div>
   	<div style="-webkit-column-count:2;
				-webkit-column-gap:10px; width: 800px;">
	    <img src="<%= student["link_photo"] %>" style="width:70%;margin:20px;">
		<div><%= student["about"] %> </div></br>
	</div>
</div>